@using SquidSite.Models
@model List<BlogPost>
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}

<h2>Blog Page</h2>

<div>
    <form method="post" action="~/Home/SearchBlogPost">
        <input type="text" name="SearchTitle" placeholder="Search"/><input type="submit" value="Search" />
    </form>
</div>

<div>
    Pinned Blogs
    @foreach (BlogPost bpost in Model)
    {
         @if (bpost.tag == BlogPost.eBlogTag.PINNED)
         {
            <partial name="_BlogPostPartial" model="@bpost" />
         }
     }
</div>

<div>
    @foreach(BlogPost bpost in Model){
        <partial name="_BlogPostPartial" model="@bpost" />
    }
</div>

<div>
    Twitter API (if Included)

</div>