@*@using SquidSite.Models
@model BlogPost
@{
    ViewData["Title"] = "BlogPostEdit";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<div class="">
    @if (Model != null)
    {
        <form method="post" action="~/Home/WriteNewPost">
            <input class="" type="text" name="title" placeholder="Title" value="@Model.title"><br />
            <input class="" type="text" name="posterUserIcon" placeholder="Text" value="@Model.text"><br />
            <input class="" type="text" name="dateEdited" placeholder="" disabled hidden value="@Model.dateEdited"><br />
            <input class="" type="text" name="datePosted" placeholder="" disabled hidden value="@Model.datePosted"><br />
            <input class="" type="submit" />
        </form>
    }
    else
    {
        <form method="post" action="~/Home/EditBlogPost">
            <input class="" type="text" name="title" placeholder="Title"><br />        
            <input class="" type="text" name="text" placeholder="Content here"><br />
            <input class="" type="text" name="dateEdited" placeholder="" disabled hidden><br />
            <input class="" type="text" name="datePosted" placeholder="" disabled hidden><br />
            <input class="" type="submit" />
        </form>
    }

</div>*@
