@{
    Layout = "_mainLayout";
}

<div id="splashImage">
    <img src="~/Images/SquidbootLogo.png" />
</div>
<div id="scrollingGallery">
    <div id="scrollingButtons">
        <div id="leftButton" /> <!--This is the button to make the gallery go to the previous image (the left image)-->
        <div id="rightButton" /> <!--This is the button to make the gallery go to the next image (the right image)-->
    </div>
    <div id="gameImages">
        <!--Put loop for all images in the scrollboi-->
    </div>
</div>
<div id="ButtonBros">
    <div id="shopButton" /> <!--This button on click will take the user to the shop page-->
    <div id="blogButton" /> <!--This button on click will take the user to the blog page-->
</div>