
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form method="post">
        <span>UserName:<input type="text" name="userName" placeholder="Username" /></span>
        <span>Password:<input type="password" name="passWord" placeholder="Password" /></span>
    </form>
</body>
</html>
