@{
    Layout = "_mainLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/RegistrationAndLogin.css" rel="stylesheet" />
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <div class="formDiv">
        <form class="form" method="post">
            <span>Username:<input type="text" name="userName" placeholder="Username" /></span>
            <span>Password:<input type="text" name="passWord" placeholder="Password" /></span>
            <span>Email:<input type="email" name="email" placeholder="Email" /></span>

            <input type="submit" />
        </form>
    </div>
</body>
</html>
