
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <form method="post">
        <span>UserName:<input type="text" name="userName" placeholder="Username" /></span>
        <span>PassWord:<input type="text" name="passWord" placeholder="Password" /></span>
        <span>User Email:<input type="email" name="email" placeholder="Email" /></span>

        <input type="submit" />
    </form>
</body>
</html>
