@using SquidSite.Models
@model List<Product>

@{
    Layout = "_mainLayout";
}

<div id="MainShopContainer">
    <!--Make containers inline (left and right)-->
    <div id="tabBois">
        <div id="MerchShopButton">
            <h3>MERCH</h3>
        </div>
        <div id="GameShopButton">
            <h3>GAMES</h3>
        </div>
    </div>
    <div id="ActiveTab">
        <div id="Merch">
            @if (Model != null)
            {
                <!--Foreach Merch, make a little nice display with image, title and cost-->
                @foreach (Merchandise merch in Model)
                {
                    <partial name="ItemPartial" model="merch" />
                }
            }
        </div>
        <div id="Games">
            <!--Foreach game, make a little nice display with image, title and cost-->
            @if (Model != null)
            {
                <!--Foreach game, make a little nice display with image, title and cost-->
                @foreach (Game game in Model)
                {
                    <partial name="ItemPartial" model="game" />
                }
            }
        </div>
    </div>
</div>