
@{
    Layout = "_shopLayout";
}

<div id="MainShopContainer">
    <div id="tabBois">
        <div id="MerchShopButton">
            <h3>MERCH</h3>
        </div>
        <div id="GameShopButton">
            <h3>GAMES</h3>
        </div>
    </div>
    <div id="ActiveTab">
        <div id="Merch">
            <!--Foreach game, make a little nice display with image, title and cost-->
        </div>
        <div id="Games">
            <!--Foreach game, make a little nice display with image, title and cost-->
        </div>
    </div>
</div>
