@using SquidSite.Models
@model List<Product>

@{
    Layout = "_mainLayout";

    List<Product> merch = new List<Product>();
    List<Product> games = new List<Product>();

    foreach(Product pro in Model)
    {
        if(pro.ProductType == Product.eProductType.GAME)
        {
            games.Add(pro);
        }
        else
        {
            merch.Add(pro);
        }
    }

}

<div id="MainShopContainer">
    <!--Make containers inline (left and right)-->
    <div id="tabBois">
        <div id="MerchShopButton">
            <h3>MERCH</h3>
        </div>
        <div id="GameShopButton">
            <h3>GAMES</h3>
        </div>
    </div>
    <div id="ActiveTab">
        <div id="MerchItems">
            @if (Model != null)
            {
                <!--Foreach Merch, make a little nice display with image, title and cost-->
                @foreach (Product mer in merch)
                {
                    <partial name="_ItemPartial" model="mer" />
                }
            }
        </div>
        <div id="GamesItems">
            <!--Foreach game, make a little nice display with image, title and cost-->
            @if (Model != null)
            {
                <!--Foreach game, make a little nice display with image, title and cost-->
                @foreach (Product gam in games)
                {
                    <partial name="_ItemPartial" model="gam" />
                }
            }
        </div>
    </div>
</div>