@using SquidSite.Models
@model Product

@{
    Layout = "_mainLayout";
}

<div id="MainProductContainer">
    <div id="Product Images">
        <!--Put all images of selected product here-->
        <div id="SideImagesBar">

        </div>
        <div id="Scrolling Images">

        </div>
    </div>
    <div id="Product Information">
        <!--Display all product information here, size selector if product is of Merch, cost, title etc.-->
    </div>
</div>