/*
    Ex: --main-color: black;
    color: var(--main-color);

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand&display=swap" rel="stylesheet">
    font-family: 'Quicksand', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
*/

body {
    --squidboot-purple: #bb24e5;
    --squidboot-purple-shade: #9d23be;
    --squidboot-yellow: #e5d524;
    --squidboot-yellow-shade: #afa20d;
    --squidboot-teal: #5cdff9;
    --squidboot-teal-shade: #3fb5cc;
    --accent-color-1: #fff;
    --accent-color-2: #d7d7d7;
    --main-font-color: #000;
    --secondary-font-color: #808080;
    --body-font: 'Quicksand', sans-serif;
    --header-font: 'Josefin Sans', sans-serif;

    background: var(--accent-color-2);
}
nav{
    display: inline-flex;
    height: 30px;
    background: var(--squidboot-purple);
    font-family: var(--header-font);
    color: var(--main-font-color);
    font-size: 24px;
}

    nav a {
        display: inline-flex;
        height: 30px;
        width: 120px;
        background: var(--squidboot-purple);
        font-family: var(--header-font);
        color: var(--main-font-color);
        font-size: 24px;
    }
/* ------   General -------*/
.icon {
    width: 50px;
    height: 50px;
}
.inline {
    display: inline;
}
.float{
    float: right;
}
.critical{
    background-color: darkred;
}
/* ------   Admin -------*/
/* ------   Users -------*/
/* ------   Shop -------*/
/* ------  Stripe ------*/
.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/* ------   Blog -------*/
.BlogBox {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: var(--main-font-color);
    background: var(--accent-color-1);
}
.BlogTitle{
    font-family: var(--header-font);
    font-size: 16px;
}
.BlogUsername {
    color: var(--secondary-font-color);
    font-size: 16px;
}
.BlogContent{

}
.BlogCommentBox {
    margin: 2px;
    padding: 2px;
    border: var(--accent-color-2);
}
.BlogCommentUsername {

}
.BlogCommentContent{

}
.BlogCommentEditedDate {
    color: var(--secondary-font-color);
    font-size: 8px;
}
.BlogEditedDate {
    color: var(--secondary-font-color);
    font-size: 10px;
}
.BlogPostedDate {
}