/*
    Ex: --main-color: black;
    color: var(--main-color);

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand&display=swap" rel="stylesheet">
    font-family: 'Quicksand', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
*/
html {
    background-color: black;

    --squidboot-purple: #bb24e5;
    --squidboot-purple-shade: #9d23be;
    --squidboot-yellow: #e5d524;
    --squidboot-yellow-shade: #afa20d;
    --squidboot-teal: #5cdff9;
    --squidboot-teal-shade: #3fb5cc;
    --accent-color-1: #fff;
    --accent-color-2: #d7d7d7;
    --main-font-color: #000;
    --secondary-font-color: #808080;
    --body-font: 'Quicksand', sans-serif;
    --header-font: 'Josefin Sans', sans-serif;
}
body {
    margin: 100px 0px;
    background-color: #d7d7d7;
    font-family: var(--body-font);
}

nav {
    background: var(--squidboot-purple);
    font-family: var(--header-font);
    color: var(--main-font-color);
    font-size: 24px;
    text-align: center;
    position: fixed;
    top: 10px;
    width: 100%;
    float: left;
}

    nav a {
        display: inline-block;
        text-decoration: none;
        height: 40px;
        width: 120px;
        background: var(--squidboot-purple);
        color: var(--main-font-color);
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        padding: 6px;
    }

        nav a:hover {
            background: var(--squidboot-teal);
            padding: 12px;
        }

footer{
    padding: 20px;
    text-align: center;
}

/* ------   General -------*/
.pageContent {
    margin: 10px;
    padding: 4px;
}
.icon {
    width: 50px;
    height: 50px;
}
.inline {
    display: inline;
}
.float{
    float: right;
}
.critical{
    background-color: darkred;
}


/* ------   Admin -------*/
/* ------   Users -------*/
/* ------   Shop -------*/

/* ------   Blog -------*/
.BlogBox {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: var(--main-font-color);
    background: var(--accent-color-1);
}
.BlogTitle{
    font-family: var(--header-font);
    font-size: 16px;
}
.BlogUsername {
    color: var(--secondary-font-color);
    font-size: 16px;
}
.BlogContent {
    color: var(--secondary-font-color);
}
.BlogCommentBox {
    margin: 2px;
    padding: 2px;
    border: var(--accent-color-2);
}
.BlogCommentUsername {
    color: var(--secondary-font-color);
}
.BlogCommentContent {
    color: var(--secondary-font-color);
}
.BlogCommentEditedDate {
    color: var(--secondary-font-color);
    font-size: 8px;
}
.BlogEditedDate {
    color: var(--secondary-font-color);
    font-size: 10px;
}
.BlogPostedDate {
}