@using SquidSite.Models
@model BlogPost

<div>
    <img src="~/images/@Model.posterUserIcon" />
    <div>@Model.posterUserName</div>
    <div>
        <p>@Model.content</p>
    </div>
    @Model.dateEdited
    @Model.datePosted
</div>