@using SquidSite.Models
@model BlogPost

<div class="BlogBox">
    <div class="BlogTitle">@Model.title</div>
    <div class="BlogContent">
        <p>@Model.text</p>
    </div>
    <div class="BlogEditedDate">
        @Model.dateEdited
    </div>
    <div class="BlogPostedDate">
        @Model.datePosted
    </div>
    <div>
        <!--comments-->
    </div>
</div>