@using SquidSite.Models
@model Blog

<div class="BlogBox">
    <div class="BlogTitle">@Model.Title</div>
    <div class="BlogContent">
        <p>@Model.Text</p>
    </div>
    <div class="BlogEditedDate">
        @Model.DateEdited
    </div>
    <div class="BlogPostedDate">
        @Model.DatePosted
    </div>
    <div>
        <!--comments-->
    </div>
</div>