<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Style/Main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>
        <a class="inline" asp-action="Index" asp-controller="Home">Home</a>&emsp;
        <a class="inline" asp-action="Index" asp-controller="Shop">Shop</a>&emsp;
        <a class="inline" asp-action="ItemInfoPage" asp-controller="Shop">Item Info</a>&emsp;
        <a class="inline" asp-action="AllBlogs" asp-controller="Blog">Blog</a>&emsp;
    </nav>
    <div class="pageContent">
        @RenderBody()
    </div>

    <footer>2019 &copy; SquidBoot Studios</footer>
</body>
@RenderSection("ExtraHeadStuff", false)
</html>