@using SquidSite.Models
@model Product

<div id="ProductOuter">
    <div id="ProductInner">
        <img src="~/Images/squidbootlogo.png"/>
        <h2>@(Model.Title)</h2>
        <h3>@(Model.Cost)</h3>
    </div>
</div>