@using SquidSite.Models
@model Product

<div id="ProductOuter">
    <div id="ProductInner">
        <img src="~/Images/squidbootlogo.png"/>
        <h2>@(Model.title)</h2>
        <h3>@(Model.cost)</h3>
    </div>
</div>