@using SquidSite.Models
@model List<Blog>
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_blogLayout.cshtml";
}

<h2>Blog Page</h2>

<div>
    <form method="post" action="~/Home/SearchBlogPost">
        <input type="text" name="SearchTitle" placeholder="Search"/><input type="submit" value="Search" />
    </form>
</div>
<a asp-action="WriteNewPost" asp-controller="Home">New Blog Post</a>

@if (Model != null)
{
<div>
    Pinned Blogs
    @foreach (Blog bpost in Model)
    {
         @if (bpost.BlogTag == Blog.eBlogTag.PINNED)
         {
            <partial name="_BlogPostPartial" model="@bpost" />
         }
    }
</div>

<div>
    @foreach (Blog bpost in Model)
    {
        <partial name="_BlogPostPartial" model="@bpost" />
    }
</div>
} else
{
    <div>
        <h1>No Blogs Here</h1>
    </div>
}

<div>
    Twitter API (if Included)

</div>